@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --customBlack: #121212;
  --darkGray: #121212bf;
  --lightGray: #f8f8f8;
}

body {
  font-family: inherit;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
